<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MAPS
    </ion-title>

    <ion-buttons slot="end">
      <ion-button class="notification" (click)="cklVenta()" id="btnPop" autoHide="false">
        <ion-icon size="large" name="newspaper-outline"></ion-icon>
       
      </ion-button>
      
      <ion-button class="notification" (click)="cklLista()" id="btnPop" autoHide="false">
        <ion-icon size="large" name="list-outline"></ion-icon>
       
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="divRegistro">
    <ion-item>
      <ion-label position="floating">IP</ion-label>
      <ion-input id="txtIP" value="137.184.15.154"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Puerto</ion-label>
      <ion-input id="txtPuerto" value="3000"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tiempo (Seg)</ion-label>
      <ion-input id="txtTiempo" value="3"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        UUID: {{uuid}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        manofactura: {{manofactura}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        modelo: {{modelo}}
      </ion-label>
    </ion-item>



  </div>
  <div id="divEnvioInformacion">
    <ion-item>
      <ion-label>
        Latitud: {{Latitud}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Longitud: {{Longitud}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Estado:<ion-badge color="{{colorbad}}">{{Estado}}</ion-badge> 
      </ion-label>
    </ion-item>
  </div>
  <ion-button color="success" expand="full" id="btnIniciar" (click)="clickenviar()" disabled="true" >Iniciar </ion-button>
  <ion-button color="danger" expand="full" id="btnDetener" (click)="clickDetener()" disabled="true" >Detener</ion-button>

</ion-content>